.terraform\providers\registry.terraform.io\hashicorp\azurerm\3.113.0\windows_amd64\.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.113.0/windows_amd64/terraform-provider-azurerm_v3.113.0_x5.exe

/secrets/*
!/secrets/.gitkeep

terraform.tfvars

.tfstate
